.imageflottante {
    min-width: 1cm;
    max-width: 2.8cm;
    border-radius: 1rem;
    max-height: 55vmin;
    min-width: 3rem;
    max-width: 100%;
    max-height: 50vmin;
    border: .7rem ridge
    rgba(197,117,208,0.8);
    border-radius: 20px / 10px;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
img {
    display: table-cell;
    margin: 2rem auto;
    border-style: none;
}
#image{
    background-color: rgba(0,0,0,0) !important;
    border: 0 !important;
}

@media (max-width: 809px)   and (orientation:landscape) {
    .imageflottante {
        margin: 0;
    }
}


